<body class="">
  <!-- main header -->
  <div id="page_content">
    <div id="page_content_inner">
      
      <!-- beginning of form -->
      <%= form_tag guides_path, method: :get do %>
        <%= render 'guides/search' %>
      <% end %>
    </div>
  </div>

