<body class="">
  <!-- main header -->
  <div id="page_content">
    <div id="page_content_inner">
      
         <%= render 'guides/search' %>
        </div>
        <%= link_to "Upload Reimbursement Data", spreadsheets_path, class: "pull-right" %>

      
    </div>
  </div>

