<body class="">
  <!-- main header -->
  <div id="page_content">
    <div id="page_content_inner">
      
      <%= render 'guides/search' %>
       
      <br/>
      <br/>

      <h1 class="uk-text-center">
       	No Results.
      </h1>
      <h3 class="uk-text-center">
     		<span class="sub-heading uk-text-muted">
    			Please try another search using the search form above.
		   	<span>
    	</h3>

      <div>
    </div>
  </div>