<div class="uk-grid" data-uk-grid-margin>
  <div class="uk-container uk-width-large-8-10 uk-width-small-10-10 uk-container-center">
   <%= render 'shared/header'%>
    <hr/>
  </div>
  </div>
  <div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-5-5 uk-container-center">
    	<%= render 'guides/show' %>
    </div>
  </div>
</div>