<div class="uk-alert uk-alert-success" data-uk-alert>
    Successfully imported file <%= filename %>.
</div>
<p>
	<i class="material-icons">&#xE314;</i> <%= link_to "View Available Guides", guides_path %>
</p>
<hr>
  
